<!DOCTYPE html>
<html lang="'en">

<head>
    <meta charset="UTF-8">
    <link rel="'stylesheet" type="text/css" href="../static/style.css">
<title>Document</title>
</head>
<body>
    <div class="welcome">
     
        <h1>summary</h1>  <br>
    </div> 
     
    <div class="output">
     
        <h2>summary for the text provided</h2>  <br>

          

            <div class="input" style='padding-left: 30px; padding-right: 30px ; '>
                <p class='summ'>{{summary}}</p>
                <br><br>
                <p align='center'><a href=home ><button class=button>Back</button></a></p>

                <br><br>
            </div>  
            
          
    </div> 

</body>
</html>